
.question-page {
    padding: 10px 25px 30px;

    #question-create-form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        textarea {
            width: 100%;
            font-size: 1.2em;
        }

        .answer-row {
            display: flex;
            align-items: center;
            gap: 5px;

            input[type="text"] { flex: 1 }
        }

        button[type="submit"] {
            padding: 10px 20px;
            font-size: 1em;
        }
    }

    #question-link, #question-edit-link {
        margin-top: 15px;
        display: block;
        font-size: larger;
    }
}
