ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;

    li input[type="radio"] {
        margin-right: 0.5em;
    }
}

.feedback {
    &.correct {
        color: green
    }

    &.incorrect {
        color: red
    }
}

.btn-row {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.05em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="button"] {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.05em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
