body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.evaluation-button {
    border: 1px solid #359b74;
    background-color: #bdf1ea;
    color: #666;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    &:hover {
        background-color: #8bdbd1;
    }
}

.result {
    position: relative;
    padding: 8.56px 30px 8.56px;
}

.result.is-passed {
    background-color: #d4edda;
    color: #155724;

    .result-icon {
        background-color: #155724;
    }
}

.result.is-failed {
    background-color: #f8d7da;
    color: #721c24;

    .result-icon {
        background-color: #721c24;
    }
}

.result-icon {
    position: absolute;
    top: 0;
    right: 48px;
    bottom: 0;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    color: #ffffff;
    margin: auto;

    svg {
        width: 100%;
        height: 100%;
    }
}
